<?xml version="1.0"?>
<pfsense>
  <version>24.03</version>
  <lastchange/>
  
  <!-- ========================================
       SYSTEM CONFIGURATION
       ======================================== -->
  <system>
    <optimization>normal</optimization>
    <hostname>pfsense-instructor</hostname>
    <domain>instructor.local</domain>
    <dnsserver>8.8.8.8</dnsserver>
    <dnsserver>8.8.4.4</dnsserver>
    <dnsallowoverride>on</dnsallowoverride>
    
    <group>
      <name>admins</name>
      <description>System Administrators</description>
      <scope>system</scope>
      <gid>1999</gid>
      <member>0</member>
      <priv>page-all</priv>
    </group>
    
    <user>
      <name>admin</name>
      <descr>System Administrator</descr>
      <scope>system</scope>
      <groupname>admins</groupname>
      <password>$2y$10$YRVoF4SgskIsrXOvOQjGieB9XqHPRra9R7d80B3BZdbY/j21TQ3C6</password>
      <uid>0</uid>
      <priv>user-shell-access</priv>
    </user>
    
    <nextuid>2000</nextuid>
    <nextgid>2000</nextgid>
    <timezone>America/New_York</timezone>
    <timeservers>pool.ntp.org</timeservers>
    
    <webgui>
      <protocol>https</protocol>
    </webgui>
    
    <disablenatreflection>yes</disablenatreflection>
    <disablechecksumoffloading>yes</disablechecksumoffloading>
    <disablesegmentationoffloading>yes</disablesegmentationoffloading>
    <disablelargereceiveoffloading>yes</disablelargereceiveoffloading>
    
    <ssh>
      <enable>enabled</enable>
    </ssh>
    
    <maximumstates>50000</maximumstates>
    <maximumtableentries>400000</maximumtableentries>
  </system>
  
  <!-- ========================================
       INTERFACES
       ======================================== -->
  <interfaces>
    <!-- WAN: No IP assignment -->
    <wan>
      <enable/>
      <if>em0</if>
      <descr>WAN Bridge</descr>
      <spoofmac/>
    </wan>
    
    <!-- LAN: Instructor Network -->
    <lan>
      <enable/>
      <if>em1</if>
      <descr>Instructor LAN</descr>
      <ipaddr>143.88.255.1</ipaddr>
      <subnet>24</subnet>
    </lan>
    
    <!-- OPT Interfaces for Student Groups -->
{% for group in range(1, max_student_groups + 1) %}
    <opt{{ group }}>
      <enable/>
      <if>vtnet{{ group + 1 }}</if>
      <descr>Group {{ '%02d' | format(group) }} WAN</descr>
      <ipaddr>143.88.0.{{ group * 4 - 3 }}</ipaddr>
      <subnet>30</subnet>
    </opt{{ group }}>
{% endfor %}
  </interfaces>
  
  <!-- ========================================
       GATEWAYS FOR EACH OPT INTERFACE
       ======================================== -->
  <gateways>
{% for group in range(1, max_student_groups + 1) %}
    <gateway_item>
      <interface>opt{{ group }}</interface>
      <gateway>143.88.0.{{ group * 4 - 2 }}</gateway>
      <name>GW_OPT{{ group }}</name>
      <weight>1</weight>
      <ipprotocol>inet</ipprotocol>
      <descr>Gateway to Group {{ '%02d' | format(group) }}</descr>
      <monitor_disable>1</monitor_disable>
    </gateway_item>
{% endfor %}
  </gateways>
  
  <!-- ========================================
       STATIC ROUTES TO STUDENT LANS
       ======================================== -->
  <staticroutes>
{% for group in range(1, max_student_groups + 1) %}
    <route>
      <network>143.88.{{ group }}.0/24</network>
      <gateway>GW_OPT{{ group }}</gateway>
      <descr>Route to Group {{ '%02d' | format(group) }} LAN</descr>
    </route>
{% endfor %}
  </staticroutes>
  
  <!-- ========================================
       DHCP SERVER (Instructor LAN Only)
       ======================================== -->
  <dhcpd>
    <lan>
      <enable/>
      <range>
        <from>143.88.255.100</from>
        <to>143.88.255.200</to>
      </range>
      <defaultleasetime>7200</defaultleasetime>
      <maxleasetime>86400</maxleasetime>
      <gateway>143.88.255.1</gateway>
      <domain>instructor.local</domain>
      <dnsserver>8.8.8.8</dnsserver>
      <dnsserver>8.8.4.4</dnsserver>
      
      <!-- Static Mappings -->
      <staticmap>
        <mac>52:54:00:FF:00:01</mac>
        <ipaddr>143.88.255.10</ipaddr>
        <hostname>kali-instructor</hostname>
        <descr>Instructor Kali</descr>
      </staticmap>
    </lan>
{% for group in range(1, max_student_groups + 1) %}
    <opt{{ group }}>
      <!-- DHCP disabled on OPT interfaces -->
    </opt{{ group }}>
{% endfor %}
  </dhcpd>
  
  <dhcpdv6/>
  <snmpd>
    <syslocation/>
    <syscontact/>
    <rocommunity>public</rocommunity>
  </snmpd>
  
  <!-- ========================================
       NAT - DISABLED
       ======================================== -->
  <nat>
    <outbound>
      <mode>disabled</mode>
    </outbound>
  </nat>
  
  <!-- ========================================
       FIREWALL FILTER RULES
       ======================================== -->
  <filter>
    <!-- Anti-Lockout -->
    <rule>
      <type>pass</type>
      <ipprotocol>inet</ipprotocol>
      <descr>Anti-Lockout Rule</descr>
      <interface>lan</interface>
      <source>
        <any/>
      </source>
      <destination>
        <network>(self)</network>
        <port>443</port>
      </destination>
    </rule>
    
    <!-- LAN: Allow All -->
    <rule>
      <type>pass</type>
      <ipprotocol>inet</ipprotocol>
      <descr>Allow all LAN</descr>
      <interface>lan</interface>
      <source>
        <any/>
      </source>
      <destination>
        <any/>
      </destination>
    </rule>
    
    <!-- OPT Interfaces: Allow All -->
{% for group in range(1, max_student_groups + 1) %}
    <rule>
      <type>pass</type>
      <ipprotocol>inet</ipprotocol>
      <descr>Allow all Group {{ '%02d' | format(group) }}</descr>
      <interface>opt{{ group }}</interface>
      <source>
        <any/>
      </source>
      <destination>
        <any/>
      </destination>
    </rule>
{% endfor %}
  </filter>
  
  <syslog>
    <filterdescriptions>1</filterdescriptions>
  </syslog>
  
  <load_balancer>
    <monitor_type>
      <name>ICMP</name>
      <type>icmp</type>
      <descr>ICMP</descr>
    </monitor_type>
  </load_balancer>
  
  <widgets>
    <sequence>system_information:col1:show,interfaces:col2:show</sequence>
  </widgets>
  
  <revision>
    <time>{{ ansible_date_time.epoch }}</time>
    <description>Ansible Generated - Instructor pfSense</description>
    <username>admin</username>
  </revision>
</pfsense>