<?xml version="1.0"?>
<pfsense>
  <version>24.03</version>
  
  <!-- System Settings -->
  <system>
    <hostname>pfsense-group{{ '%02d' | format(group_id) }}</hostname>
    <domain>group{{ '%02d' | format(group_id) }}.local</domain>
    <timezone>America/New_York</timezone>
    <timeservers>pool.ntp.org</timeservers>
    
    <!-- Admin User -->
    <user>
      <name>admin</name>
      <descr>System Administrator</descr>
      <scope>system</scope>
      <groupid>admins</groupid>
      <password>$2y$10$YRVoF4SgskIsrXOvOQjGieB9XqHPRra9R7d80B3BZdbY/j21TQ3C6</password>
      <uid>0</uid>
    </user>
    
    <!-- Enable SSH -->
    <ssh>
      <enable>enabled</enable>
    </ssh>
    
    <!-- Disable wizard -->
    <disablechecksumoffloading>true</disablechecksumoffloading>
    <disablesegmentationoffloading>true</disablesegmentationoffloading>
  </system>
  
  <!-- Interfaces -->
  <interfaces>
    <!-- WAN Interface (vtnet0) -->
    <wan>
      <enable/>
      <if>vtnet0</if>
      <descr>WAN to Instructor</descr>
      <ipaddr>143.88.0.{{ group_id * 4 - 2 }}</ipaddr>
      <subnet>30</subnet>
      <gateway>WANGW</gateway>
      <blockbogons/>
    </wan>
    
    <!-- LAN Interface (vtnet1) -->
    <lan>
      <enable/>
      <if>vtnet1</if>
      <descr>Student LAN</descr>
      <ipaddr>143.88.{{ group_id }}.1</ipaddr>
      <subnet>24</subnet>
    </lan>
  </interfaces>
  
  <!-- Gateways -->
  <gateways>
    <gateway_item>
      <interface>wan</interface>
      <gateway>143.88.0.{{ group_id * 4 - 3 }}</gateway>
      <name>WANGW</name>
      <weight>1</weight>
      <ipprotocol>inet</ipprotocol>
      <descr>WAN Gateway to Instructor</descr>
    </gateway_item>
  </gateways>
  
  <!-- DHCP Server for LAN -->
  <dhcpd>
    <lan>
      <enable/>
      <range>
        <from>143.88.{{ group_id }}.100</from>
        <to>143.88.{{ group_id }}.200</to>
      </range>
      <defaultleasetime>7200</defaultleasetime>
      <maxleasetime>86400</maxleasetime>
      <gateway>143.88.{{ group_id }}.1</gateway>
      <domain>group{{ '%02d' | format(group_id) }}.local</domain>
      <dnsserver>8.8.8.8</dnsserver>
      <dnsserver>8.8.4.4</dnsserver>
      
      <!-- Static DHCP Leases -->
      <staticmap>
        <mac>{{ student_mac_addresses[group_id].kali1 }}</mac>
        <ipaddr>143.88.{{ group_id }}.10</ipaddr>
        <hostname>kali1-group{{ '%02d' | format(group_id) }}</hostname>
        <descr>Kali Linux 1</descr>
      </staticmap>
      
      <staticmap>
        <mac>{{ student_mac_addresses[group_id].kali2 }}</mac>
        <ipaddr>143.88.{{ group_id }}.11</ipaddr>
        <hostname>kali2-group{{ '%02d' | format(group_id) }}</hostname>
        <descr>Kali Linux 2</descr>
      </staticmap>
      
      <staticmap>
        <mac>{{ student_mac_addresses[group_id].ubuntu }}</mac>
        <ipaddr>143.88.{{ group_id }}.13</ipaddr>
        <hostname>ubuntu-group{{ '%02d' | format(group_id) }}</hostname>
        <descr>MS3 Ubuntu 14.04</descr>
      </staticmap>
      
      <staticmap>
        <mac>{{ student_mac_addresses[group_id].windows }}</mac>
        <ipaddr>143.88.{{ group_id }}.14</ipaddr>
        <hostname>windows-group{{ '%02d' | format(group_id) }}</hostname>
        <descr>MS3 Windows 2008</descr>
      </staticmap>
    </lan>
  </dhcpd>
  
  <!-- NAT Configuration: Disabled for transparent routing -->
  <nat>
    <outbound>
      <mode>disabled</mode>
    </outbound>
  </nat>
  
  <!-- Firewall Rules: Allow All Traffic -->
  <filter>
    <!-- WAN Rules -->
    <rule>
      <type>pass</type>
      <interface>wan</interface>
      <ipprotocol>inet</ipprotocol>
      <statetype>keep state</statetype>
      <descr>Allow all WAN traffic</descr>
      <source>
        <any/>
      </source>
      <destination>
        <any/>
      </destination>
    </rule>
    
    <!-- LAN Rules -->
    <rule>
      <type>pass</type>
      <interface>lan</interface>
      <ipprotocol>inet</ipprotocol>
      <statetype>keep state</statetype>
      <descr>Allow all LAN traffic</descr>
      <source>
        <any/>
      </source>
      <destination>
        <any/>
      </destination>
    </rule>
  </filter>
  
  <!-- System Advanced Settings -->
  <system>
    <optimization>normal</optimization>
    <maximumstates>10000</maximumstates>
    <maximumtableentries>200000</maximumtableentries>
  </system>
</pfsense>